@import '/css/reset.css';
@import '/css/header.css';
@import '/css/main.css';
.main {
  margin-top: 50px;
}
.main div {
  margin-bottom: 30px;
}
.main h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.main .main__name input {
  border: 1px solid #E5E7EB;
  width: 100%;
  height: 44px;
  border-radius: 8px;
  padding-left: 10px;
}
.main .main__name input:first-child {
  border: none;
}
.main .main__name input::-webkit-inner-spin-button, .main .main__name input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.main .main__description input {
  border: 1px solid #E5E7EB;
  width: 100%;
  height: 90px;
  border-radius: 8px;
  padding-left: 10px;
}
.main .main__description input:first-child {
  border: none;
}
.main .main__description input::-webkit-inner-spin-button, .main .main__description input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.main .main__price {
  display: flex;
  gap: 30px;
}
.main .main__price input {
  border: 1px solid #E5E7EB;
  width: 100%;
  height: 44px;
  border-radius: 8px;
  padding-left: 10px;
}
.main .main__price input:first-child {
  border: none;
}
.main .main__price input::-webkit-inner-spin-button, .main .main__price input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.main .main__details {
  display: flex;
  gap: 20px;
}
.main .main__details .main__details__sale,
.main .main__details .main__details__status {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.main .main__details .main__details__sale label,
.main .main__details .main__details__status label {
  font-size: 20px;
  font-weight: 600;
}
.main .main__details .main__details__sale input,
.main .main__details .main__details__status input {
  width: 20px;
  height: 20px;
}

.main__btn {
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(27, 184, 241);
  padding: 14px 17px;
  border-radius: 8px;
  color: white;
}